# Dependencies
/node_modules
/vendor

# Environment
.env
.env.local
.env.production

# Build
/public/build
/public/hot
/public/storage

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Laravel
/storage/*.key
/storage/pail
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/bootstrap/cache/*.php

# Misc
*.log
.phpunit.result.cache
_auth.json
